{% load markdown %}
{% load tz %}

<section id='feed'>
  <h3>Feed</h3>

  {% for post in post_list %}
    <section class='post'>
      {% localtime on %}
        <date>{{ post.created_utc|date:"l, F j, Y g:ia T" }}</date>
      {% endlocaltime %}

      <header>
        {% if post.owner.avatar %}
          {% include 'widgets/crop_apply.html' with img_url=post.owner.avatar.url crop=post.owner.avatar_crop width='5rem' height='5rem' %}
        {% else %}
          <section class='avatar-placeholder'>
            {% include 'snippets/user.svg' %}
          </section>
        {% endif %}
        <a href='{% url "user_detail" pk=post.owner.pk %}'>{{ post.owner.display_name }}</a> said:
      </header>
      <main>
        {{ post.text | markdown }}
        {% if post.image %}
          {% include 'widgets/crop_apply.html' with img_url=post.image.url width='10rem' height='10rem' %}
        {% endif %}

      </main>
      <nav>
        <a href='{% url "post_detail" pk=post.pk %}'>View</a>
      </nav>
    </section>
  {% empty %}
    <p><em>There are no posts in your feed.</em></p>
  {% endfor %}
</section>
