{% extends 'core/base.html' %}

{% block title %}about{% endblock %}

{% block main %}
  <h1>About</h1>

  <section class='tab-area'>
    {% include 'core/about_tabs.html' with current_tab='about_philosophy' %}

    <section class='panel'>
      <h2>Principles</h2>

      <p>FriendZone is built on the following principles:</p>

      <ul>
        <li>
          <em>FriendZone is a tool for people who already know each other.</em>
          FriendZone is not for finding friends. FriendZone is not for
          businesses or organizations. FriendZone is not for accumulating
          vast numbers of "friends".
        </li>

        <li>
          <em>The primary scope of interaction is one-on-one.</em>
          FriendZone is not for large groups. The top priority of FriendZone
          is facilitating one-on-one interactions.
        </li>

        <li>
          <em>FriendZone should not concern itself with popularity or engagement.</em>
          FriendZone will never support "likes", and does not have the goal of
          getting more users, or getting existing users to use the site more.
          Sometimes users are best served by logging off.
        </li>

        <li>
          <em>Users control who has access to their data.</em>
          When users submit data to our site, it should be clear who will have
          access to that data, and we should never share data with anyone else
          (even with permission; for this reason we should never ask users for
          permission to use their data). The one exception is that we will
          follow applicable laws; however, we will make an effort to store
          user data in such a way that even we do not have access to it (so
          that even the law cannot obligate us to share it).
        </li>

        <li>
          <em>Users can delete their data.</em>
          Users should always be able to delete their data from our servers.
          When a user deletes their data, it should be actually deleted, so
          that it is not recoverable by anyone, including us.
        </li>

        <li>
          <em>Money comes from users only.</em>
          To make sure that our incentives are always aligned with serving
          users, we will always be supported by user donations. We will never
          commit to costs beyond what our users have committed to donate, and
          we will limit commitments we accept to avoid becoming dependent on
          just a few users.
        </li>

        <li>
          <em>Donations should never be required to use features of FriendZone.</em>
          Donations are always voluntary.
        </li>

        <li>
          <em>Where possible, we don't require users to trust us.</em>
          Our code will always be free (as in freedom). We should not require
          JavaScript to user our site. As we can, we'll implement features that
          allow users to encrypt their data with their own encryption keys so
          that even we can't access it.
        </li>

        <li>
          <em>FriendZone will shut down rather than compromise these values.</em>
          Many organizations which are founded with good intentions drift away
          from their initial values through a series of small compromises which
          are each intended to keep the organization alive. We strive to keep
          vigilant of value drift and never compromise our values, even if that
          means shutting down FriendZone.
        </li>
      </ul>
    </section>
  </section>
{% endblock %}

