{% extends 'core/base.html' %}

{% block title %}about{% endblock %}

{% block main %}
  <h1>About</h1>

  <section class='tab-area'>
    {% include 'core/about_tabs.html' with current_tab='about_moderation' %}

    <section class='panel'>
      <h2>Moderation</h2>

      <p>Our moderation policy is simple: <em>we don't moderate, users do</em>.</p>

      <p>There are a number of reasons for this policy:</p>

      <ul>
        <li>
          We value our mental health. There are many cases on other sites where
          moderators are traumatized by the horrific content people post
          online. We don't want to see that stuff, and we don't think it would
          be ethical to ask anyone else to look at that stuff.
        </li>

        <li>
          FriendZone is for people who already know each other. If you
          don't like the content someone is sending you, you are encouraged
          to set boundaries with that person about what kind of content
          they can send you, and disconnect from them if they don't respect
          your boundaries. FriendZone is not in the business of setting or
          enforcing our users' boundaries.
        </li>

        <li>
          Moderation inherently involves violating the privacy of our users.
          The general model of moderation is that a user uploads some data,
          which may have the expectation of privacy, and another user flags
          that data for moderation. This is one person uploading data with
          the expectation of privacy, and another person cannot consent to
          the first person's giving up the privacy of that data.
        </li>

        <li>
          Leaving moderation up to users allows us to keep our team small.
          Users who donate to FriendZone should be able to expect that their
          donations will be used efficiently.
        </li>
      </ul>

      <p>
        Some content is illegal, or evidence of a crime. If you receive such
        content, you are encouraged to report it to the relevant authorities.
        We will comply with laws with regard to illegal content.
      </p>
    </section>
  </section>
{% endblock %}

