{% load static %}

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif&family=Roboto+Slab&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='{% url "css_style" %}'/>

    {% if request.user.allow_js %}
      <script type='text/javascript' src='{% static "core/script.js" %}'></script>
    {% endif %}

    <title>fz | {% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      {% include 'snippets/logo.svg' %}

      {% if request.user.is_authenticated %}
        <a href='{% url "index" %}'>home</a>
        <a href='{% url "about_main" %}'>about</a>
        <a href='{% url "circle_list" %}'>circles</a>
        <a href='{% url "invite_list" %}'>invites</a>
        <a href='{% url "connection_list" %}'>connections</a>
        <span style='margin-left: auto;'>
          Logged in as <a href='{% url "profile_detail" %}'>{{request.user.username}}</a>.
        </span>

        <a href='{% url "settings" %}'>settings</a>

        <form method='post' action='{% url "logout" %}'>
          {% csrf_token %}
          <button class='as-link' type='submit' tabindex='-1'>logout</button>
        </form>
      {% else %}
        <a style='margin-left: auto;' href='{% url "login" %}'>login</a>
        <a href='{% url "signup" %}'>sign up</a>
      {% endif %}
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      <nav id='heart'>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M20.42 4.58a5.4 5.4 0 0 0-7.65 0l-.77.78-.77-.78a5.4 5.4 0 0 0-7.65 0C1.46 6.7 1.33 10.28 4 13l8 8 8-8c2.67-2.72 2.54-6.3.42-8.42z" />
      </svg>
      Powered by love.
      </nav>
    </footer>
  </body>
</html>

