{% load static %}

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='{% static "core/style.css" %}'/>

    <title>fz | {% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <img src='{% static 'core/logo.svg' %}'/>

      {% if request.user.is_authenticated %}
        <a href='{% url "index" %}'>home</a>
        <a href='{% url "circle_list" %}'>circles</a>
        <a href='{% url "invite_list" %}'>invites</a>
        <a href='{% url "connection_list" %}'>connections</a>
        <span style='margin-left: auto;'>
          Logged in as <a href='{% url "settings" %}'>{{request.user.username}}</a>.
        </span>

        <form method='post' action='{% url "logout" %}'>
          {% csrf_token %}
          <button class='as-link' type='submit'>logout</button>
        </form>
      {% else %}
        <a style='margin-left: auto;' href='{% url "login" %}'>login</a>
        <a href='{% url "signup" %}'>sign up</a>
      {% endif %}
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      Powered by love.
    </footer>
  </body>
</html>

