{% load static %}

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel='stylesheet' href='{% static "core/style.css" %}'/>

    <title>fz | {% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <img src='{% static 'core/logo.svg' %}'/>

      {% if request.user.is_authenticated %}
        Logged in as {{ request.user.username }}.

        <a href='{% url "settings" %}'>settings</a>

        <form method='post' action='{% url "logout" %}'>
          {% csrf_token %}
          <button type='submit'>logout</button>
        </form>
      {% else %}
        <a href='{% url "login" %}'>login</a>
      {% endif %}
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      Powered by love.
    </footer>
  </body>
</html>

