{% extends 'core/base.html' %}

{% block title %}{{ object.name }} circle{% endblock %}

{% block main %}
<p>{{ object.name }} circle</p>

<p>
  <a href='{% url "circle_edit" pk=object.pk %}'>edit</a>
  <a href='{% url "circle_delete" pk=object.pk %}'>delete</a>
  
</p>
<a href='{{ circle.get_absolute_url }}'>{{ circle.owner.connected_users }}</a>

{% for member in circle.owner.connected_users %}
  <p>{{ member }}</p>
{% empty %}
  <p>
    There are no people in this circle. Add people to this circle by
    <a href='{% url "invite_create" %}'>creating an invite</a>
    or <a href=''>adding an existing connection</a>.
  </p>
{% endfor %}

{% endblock %}
