{% extends 'core/base.html' %}

{% block title %}home{% endblock %}

{% block main %}
  {% if request.user.is_authenticated %}
    <form method='post' action='{% url "post_create" %}'>
      {% csrf_token %}
      {{ post_form }}
      <button type='submit'>create</button>
    </form>

    <section id='feed'>
      {% for post in request.user.feed %}
        <section class='post'>
          <date>{{ post.created_utc|date:"l, F j, Y g:ia T" }}</date>
          <header>
            <a href='{% url "user_detail" pk=post.owner.pk %}'>{{ post.owner.display_name }}</a> said:
          </header>
          <main>
            {{ post.text }}
          </main>
          <nav>
            <a href='{% url "post_detail" pk=post.pk %}'>View</a>
          </nav>
        </section>
      {% endfor %}
    </section>
  {% else %}
    <p>Homepage text</p>
  {% endif %}
{% endblock %}
