{% extends 'core/base.html' %}

{% block title %}home{% endblock %}

{% block main %}
  {% if request.user.is_authenticated %}
    <section>
      <h3>Post to your feed</h3>
      <form method='post' enctype='multipart/form-data' action='{% url "post_create" %}'>
        {% csrf_token %}
        {{ post_form.as_p }}
        <button type='submit'>create</button>
      </form>
    </section>

    {% include 'widgets/post_list.html' with post_list=request.user.feed.all %}
  {% else %}
    <p>Homepage text</p>
  {% endif %}
{% endblock %}
