{% extends 'core/base.html' %}

{% block title %}{{ object.name }} circle{% endblock %}

{% block main %}

<p>
  {{ object.owner.display_name }} would like to invite you to connect.
  {{ object.owner.display_name}} wrote:
</p>

<p>"{{ object.message }}"</p>

{% if not request.user.is_authenticated %}
  <p>
    You must have a FriendZone account to accept this invite.
  </p>

  <p>
    <a href='{% url "login" %}?next={{ object.get_absolute_url }}'>login</a>
    <a href='{% url "signup" %}?next={{ object.get_absolute_url }}'>signup</a>
  </p>
{% elif object.owner == request.user %}
  <p>
    <a href='{% url "invite_edit" pk=object.pk %}'>edit</a>
    <a href='{% url "invite_delete" pk=object.pk %}'>delete</a>
  </p>

  <p>QR Code Here</p>
{% elif request.user in object.owner.connected_users %}
  <p>
    You are already connected with {{ object.owner.display_name }}!
  </p>
{% elif request.user.connections.count >= settings.MAX_CONNECTIONS_PER_USER %}
  <p>
    You have too many connections to accept this connection. FriendZone allows
    a maximum of
    {{ settings.MAX_CONNECTIONS_PER_USER }} connections. For information on
    why, see
    <a href='{% url "why" %}'>Why only {{ settings.MAX_CONNECTIONS_PER_USER }} connections?</a>.
  </p>

  <p>
    If you still wish to connect with {{ object.owner.display_name }}, please
    <a href='{% url "connection_list" %}'>delete an existing connection</a>
    first.
  </p>
{% elif object.owner.connections.count >= settings.MAX_CONNECTIONS_PER_USER %}
  <p>
    {{ object.owner.display_name }} has too many connections to allow you to
    accept their invitation. FriendZone allows a maximum of
    {{ settings.MAX_CONNECTIONS_PER_USER }} connections.
    For information on why, see
    <a href='{% url "why" %}'>Why only {{ settings.MAX_CONNECTIONS_PER_USER }} connections?</a>.
  </p>

  <p>
    If you still want to connect with {{ object.owner.display_name }}, ask them
    to delete some of their connections.
  </p>
{% else %}
  <form method='post' action='{% url "invite_accept" pk=object.pk %}'>
    {% csrf_token %}

    <p>
      If you would like to connect with {{ object.owner.display_name }}, select which
      circles you wish to add {{ object.owner.display_name }} to:
    </p>

    {{ form.as_p }}

    <button type='submit'>accept</button>
  </form>
{% endif %}

{% endblock %}
