{% extends 'core/base.html' %}

{% block title %}post{% endblock %}

{% block main %}
  <section class='post'>
    <date>{{ object.created_utc|date:"l, F j, Y g:ia T" }}</date>
      {% if object.owner.avatar %}
        {% include 'widgets/crop_apply.html' with img_url=object.owner.avatar.url crop=object.owner.avatar_crop width='10rem' height='10rem' %}
      {% else %}
        <section class='avatar-placeholder'>
          {% include 'snippets/user.svg' %}
        </section>
      {% endif %}
      <header>
        <a href='{% url "user_detail" pk=post.owner.pk %}'>{{ post.owner.display_name }}</a> said:
      </header>
    <main>
      {{ object.text }}
      {% if object.image %}
      <img src="{{ object.image.url}}" alt="{{ post.title }}">
      {% else %}
      No Image Post 
      {% endif %}
    </main>
    {% if request.user == object.owner %}
      <nav>
        <a href='{% url "post_edit" pk=object.pk %}'>Edit</a>
        <a href='{% url "post_delete" pk=object.pk %}'>Delete</a>
      </nav>
    {% endif %}
  </section>
{% endblock %}
