<nav class='tab-list'>
  {% if current_tab == 'appearance_settings' %}
    <span class='current tab'>appearance</span>
  {% else %}
    <span class='tab'><a href='{% url "settings" %}'>appearance</a></span>
  {% endif %}

  {% if current_tab == 'password' %}
    <span class='current tab'>password</span>
  {% else %}
    <span class='tab'><a href='{% url "password_change" %}'>password</a></span>
  {% endif %}

  {% if current_tab == 'delete' %}
    <span class='current tab'>delete account</span>
  {% else %}
    <span class='tab'><a href='{% url "delete" %}'>delete account</a></span>
  {% endif %}
</nav>
