{% extends 'core/base.html' %}

{% block title %}{{ object.display_name }}{% endblock %}

{% block main %}
<p>{{ object.display_name }}'s profile</p>

{% if object.avatar %}
  {% include 'widgets/crop_apply.html' with img_url=object.avatar.url crop=object.avatar_crop width='20rem' height='20rem' %}
{% else %}
  <section class='avatar-placeholder'>
    {% include 'snippets/user.svg' %}
  </section>
{% endif %}

{% if request.user == object %}
  <a href='{% url "profile_edit" %}'>edit profile</a>
{% else %}
  <a href='{% url "convo_detail" pk=object.pk %}'>view messages with this user</a>
  <p>
    In circles:
    {% for circle in in_circles %}
      {% include 'widgets/circle.html' with circle=circle %}
    {% empty %}
      <em>Not in any circles.</em>
    {% endfor %}
  </p>
{% endif %}

{% include 'widgets/post_list.html' with post_list=feed_for_user %}

{% endblock %}
