{% extends 'core/base.html' %}

{% block title %}{{ object.display_name }}{% endblock %}

{% block main %}
<p>{{ object.display_name }}'s profile</p>

<section style='width: 20rem; height: 20rem; overflow:hidden;'>
  <img
      src='{{ object.avatar.url }}'
      style='
        position: absolute;
        left: {{ object.avatar_crop.inverse_left_percent }}%;
        top: {{ object.avatar_crop.top_percent }}%;
        width: {{ object.avatar_crop.inverse_width_percent }}%;
        height: {{ object.avatar_crop.inverse_height_percent }}%;
        max-height: none;
        max-width: none;
      '
  />
</section>

{% if request.user == object %}
  <a href='{% url "profile_edit" %}'>edit profile</a>
{% else %}
  <p>
    In circles:
    {% for circle in in_circles %}
      {% include 'widgets/circle.html' with circle=circle %}
    {% empty %}
      Not in any circles.
    {% endfor %}
  </p>
{% endif %}

{% include 'widgets/post_list.html' with post_list=feed_for_user %}

{% endblock %}
