* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, footer, header, main, section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

svg {
  display: block;
}

nav {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;

  &.circle {
    gap: 0.5rem;
  }
}

form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 0;
}

a.as-button,
a:link.as-button,
a:visited.as-button,
button,
input[type=submit] {
  background: white;
  border: 2px solid black;
  border-radius: 0.6rem;
  padding: 0.15rem 0.6rem 0.3rem 0.6rem;

  font-family: 'Roboto Slab';
  font-size: 20px;

  cursor: pointer;

  text-decoration: none;
}

a,
a:link,
a:visited,
button.as-link {
  color: black;
  padding: 0;
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

a:hover,
a:hover.as-button,
button:hover,
input[type=submit]:hover {
  font-size: 22px;
  border-width: 2.5px;
}

html {
  font-family: 'Roboto Slab';
  font-size: 20px;
  flex-direction: column;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;

  & > header {
    background: white;
    position: sticky;
    z-index: 1;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 2px solid black;
    padding: 1rem;

    & > img {
      height: 3rem;
    }
  }

  & > main {
    flex-direction: column;
    margin: 0 auto;
    width: calc(100% - 2rem);
    max-width: 50rem;
  }

  & > footer {
    background: white;

    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    border-top: 2px solid black;
    margin-top: auto;
    position: sticky;
    bottom: 0;
    padding: 1rem;
  }
}

#feed {
  .post:not(:first-child) {
    padding-top: 1rem;
    border-top: 2px solid black;
  }

  .post {
    gap: 0;

    & > date {
      font-size: 16px;
    }

    & > header {
      display: block;
    }
  }
}

@keyframes heartbeat {
  0%    { transform: scale(1.0); }
  50%   { transform: scale(1.0); }
  66%   { transform: scale(1.2); }
  84%   { transform: scale(1.2); }
  100%  { transform: scale(1.0); }
}

#heart {
  gap: 0.5rem;
  &:hover {
    animation: heartbeat 1s ease-in-out infinite;
  }
}

section.qr-code svg {
  width: 20rem;
}
